In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [2]:
path = 'https://raw.githubusercontent.com/dataworkshop/webinar-titanic/master/input/train.csv'
df = pd.read_csv(path)

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

In [5]:
features = ['Pclass', 'Sex_male', 'SibSp', 'Parch', 'Embarked_Q', 'Embarked_S']

In [6]:
X = df[features]
y = df.Survived

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [7]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((668, 6), (223, 6), (668,), (223,))

In [8]:
y_pred_dt = DecisionTreeClassifier(max_depth=3).fit(X_train, y_train).predict(X_test)
accuracy_score(y_test, y_pred_dt)

0.8026905829596412

In [9]:
y_pred_svc = SVC(gamma='auto').fit(X_train, y_train).predict(X_test)
accuracy_score(y_test, y_pred_svc)

0.7937219730941704